html{
  overflow: hidden;
}

body{
  font-family: arial,sans-serif;
  box-sizing: content-box;
}
footer{
  position: fixed;
  bottom: 0;
  height: 45px; width: 100%;
  background-color: #f2f2f2;
  line-height: 45px;
}

a{
  color: #666;
  font-size: small;
  text-decoration: none;
}

nav{
  overflow: hidden;
  height:40px;
  line-height: 40px;
  padding-top: 12px
}

.mid-section{
  text-align: center;
  margin: 150px auto;
}

.search-bar{
  display: inline;
}

.bottons{
  box-sizing: border-box;
  margin-top: 30px;
}

.nav-word{
  padding-left: 5px;
  padding-right: 7px;
}

#word-one{
  padding-left: 35px;
}

#word-four,
#word-three,
#f-link-right{
  float: right;
}

#google-propic{
  background-image: url(https://lh3.googleusercontent.com/-FUh_03iY0XA/AAAAAAAAAAI/AAAAAAAAAAA/AIcfdXAf7LL6ZXKrkbtZVJEcY7SvXDML3g/s32-c-mo/photo.jpg);
  background-size: 32px 32px;
  border-radius: 50%;
  margin: -1px;
  overflow: hidden;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
  margin-left: 25px;
  float: right;
  margin-right: 25px;
}

#google-apps-icon{
  background-image: url("pics/google-icons.png");
  height: 30px; width: 30px;
  background-position: -132px -38px;
  opacity: .55;
  margin-left: 25px;
  float: right;
  opacity: 0.55;
}

#bell-icon{
  box-sizing: border-box;
  background-image: url("pics/google-icons.png");
  height: 20px; width: 20px;
  background-position: -194px -21px;
  background-color: rgba(0,0,0,.55);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin: 5px;
  padding: 0 2px;
  text-align: center;
  border-radius: 50%;
  margin-left: 25px;
  float: right;
  opacity: 0.85;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

footer li{
  list-style-type: none;
  margin: 0;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.bottons button{
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
  outline: none;
}


.search-bar input{
  box-sizing: content-box;
  padding-left: 15px;
  width: 632px; height: 40px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: none;
  border-radius: 2px;
  line-height: 40px;
  font: 16px arial,sans-serif;
  outline: none;
  background-image: url("pics/microphone.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px;
}

.bottons button:hover{
  border: 1px solid #c6c6c6;
  color: #222;
}

footer li:hover{
  text-decoration: underline;
}

.nav-word:hover{
  text-decoration: underline;
}

.icon:hover{
}
